@page "{id}"
@using ContosoCrafts.WebSite.Services
@using ContosoCrafts.WebSite.Models
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel

@{
    ViewData["Title"] = "Update page";
}

<h1>Update</h1>
<!-- TODO You will do the rest -->
